.post-topic{
    margin: 0 4px;
}

html {
    font-family: 'lato' sans-serif;
}

body {
    font-family: 'lato' sans-serif;
}

.app-wrapper {
    display: grid;
    justify-content: center;
}

.home {
    height: 100vh;
    width: 66vw;

    display: grid;
    align-content: space-around;
    justify-items: stretch;
    grid-template-rows: 1fr 2fr 1fr;
}

.logo-main,
.recent-posts {
    display: grid;
    justify-items: center;
    // align-content: center;
}

$color-gray-one: #666666;
$color-gray-two: #b3b3b3;

@import './searchBar';